process {
    withName:
        "EXPORT_RAW_GENOMES" {
            container = "ubuntu:20.04"
            cpus = 1
            memory = "2 GB"
    }

    withName:
        "FASTQC*" {
            container = 'quay.io/biocontainers/fastqc:latest'
            cpus = 4
            memory = "4 GB"
    }

    withName:
        "MULTIQC*" {
            container = 'quay.io/biocontainers/multiqc:latest'
            cpus = 3
            memory = "4 GB"
    }

    withName:
        "TRIMMOMATIC"  {
            container = 'quay.io/biocontainers/trimmomatic:latest'
            cpus = 4
            memory = "6 GB"
    }

    withName:
        "SPADES" {
            container = 'quay.io/biocontainers/spades:latest'
            cpus = 8
            memory = "10 GB"
    }

    withName:
        "PROKKA" {
            container = 'quay.io/biocontainers/prokka:latest'
            cpus = 8
            memory = "12 GB"
    }

    withName:
        "TBPROFILER_*" {
            container = 'quay.io/biocontainers/tb-profiler:6.2.0--pyhdfd78af_0'
            cpus = 6
            memory = "8 GB"
    }

    withName:
        "RD_ANALYZER" {
            container = 'quay.io/biocontainers/rd-analyzer:1.01--hdfd78af_0'
            cpus = 6
            memory = "8 GB"
    }

    withName:
        "SPOTYPING" {
            container = 'quay.io/biocontainers/spotyping:2.1--hdfd78af_4'
            cpus = 8
            memory = "10 GB"
    }


}
